@charset "UTF-8";
@-webkit-keyframes action {
  50% {
    opacity: 0;
    -webkit-transform: translateX(200%);
    transform: translateX(200%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }
@keyframes action {
  50% {
    opacity: 0;
    -webkit-transform: translateX(200%);
    transform: translateX(200%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

@-webkit-keyframes clicked {
  100% {
    color: #26d8d8;
    border-color: #26d8d8; } }

@keyframes clicked {
  100% {
    color: #26d8d8;
    border-color: #26d8d8; } }

@-webkit-keyframes drop-in {
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1) rotateY(0);
    transform: scaleY(1) rotateY(0); } }

@keyframes drop-in {
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1) rotateY(0);
    transform: scaleY(1) rotateY(0); } }

@-webkit-keyframes distinguish {
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes distinguish {
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@-webkit-keyframes move-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0); } }

@keyframes move-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0); } }

@font-face {
  font-family: 'arrow';
  font-style: normal;
  font-weight: 400;
  src: local("arrow"), local("arrow"), url(../fonts/arrow.ttf) format("truetype"); }

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative; }
  body.no-scroll {
    -webkit-transition: overflow-y 0s 500ms linear;
    -o-transition: overflow-y 0s 500ms linear;
    transition: overflow-y 0s 500ms linear;
    overflow-y: hidden; }

h1, h2, h3, h4, h5, h6, label, a, ul, .site-welcome {
  font-family: 'Roboto Slab', 'Lucida Bright', 'Times New Roman', Georgia, serif;
  font-weight: normal; }

a:focus, button:focus {
  outline: none; }

p, input, textarea {
  font-family: 'Roboto', Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300; }

section > p {
  font-size: 25px;
  width: 670px;
  color: #727376;
  text-align: center;
  line-height: 150%;
  font-weight: 400;
  margin: 0 auto; }
  @media (min-width: 320px) and (max-width: 480px) {
    section > p {
      width: 80vw;
      font-size: 16px;
      margin: 0 auto;
      text-align: left;
      letter-spacing: 0; } }

.page-title, section > .heading, .site-welcome {
  margin-left: 80px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .page-title, section > .heading, .site-welcome {
      margin-left: 5vw; } }

.container {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto; }

.btn-action, .results {
  height: 0px;
  width: 0px;
  display: block;
  overflow: hidden; }

.intro > .heading {
  font-size: 58.3338px;
  color: #606062; }
  @media (min-width: 320px) and (max-width: 480px) {
    .intro > .heading {
      font-size: 40px;
      margin-bottom: 20px; } }
  @media (max-width: 320px) {
    .intro > .heading {
      font-size: 35px; } }
  .intro > .heading .heading-break {
    display: inline-block; }
  .intro > .heading .colored-text {
    color: #0f40d9; }

.what-next {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 160px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .what-next {
      margin-top: 60px;
      padding-bottom: 100px; } }

.what-next-link {
  text-decoration: none;
  color: #40bebe;
  font-size: 50px;
  line-height: 50px;
  overflow: hidden; }
  @media (min-width: 320px) and (max-width: 480px) {
    .what-next-link {
      font-size: 40px;
      line-height: 40px; } }

.action:hover .action-arrow, .action:focus .action-arrow {
  -webkit-animation: action 0.9s 0.05s cubic-bezier(0.26, 1.9, 0.63, 0.67);
  animation: action 0.9s 0.05s cubic-bezier(0.26, 1.9, 0.63, 0.67); }

.action-arrow {
  display: inline-block; }

.main-content > .heading {
  margin-top: 120px;
  margin-bottom: 0;
  display: inline-block;
  padding-bottom: 8px;
  line-height: 16px;
  font-size: 16px;
  color: #727376;
  border-bottom: 2px solid #0f40d9; }
  @media (min-width: 320px) and (max-width: 480px) {
    .main-content > .heading {
      margin-left: 5vw;
      margin-top: 100px; } }

.off-page {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -100vh;
  -webkit-box-shadow: 0 -100px 0 100px #fff;
  box-shadow: 0 -100px 0 100px #fff;
  overflow: hidden;
  background-color: #fff;
  z-index: 10000;
  -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  overflow-y: scroll;
  opacity: 0; }
  .off-page.on-page {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .off-page .guide-line {
    width: 1px;
    background-color: #fff;
    height: 300px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .off-page ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    height: auto;
    width: 800px;
    margin: 0;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none; }
    @media (min-width: 320px) and (max-width: 480px) {
      .off-page ul {
        width: 50vw; } }
    .off-page ul li {
      margin: 0;
      margin-bottom: 100px;
      width: 50%;
      opacity: 0;
      float: left;
      text-align: left;
      -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
      transform: translateX(-10%);
      position: relative; }
      .off-page ul li:nth-child(2n) a {
        left: 175px; }
      .off-page ul li:nth-child(n + 3) {
        margin-bottom: 0; }
      .off-page ul li a {
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        line-height: 50px;
        position: relative;
        font-weight: 300;
        color: black; }
        .off-page ul li a:focus, .off-page ul li a:active {
          color: #727376; }
        .off-page ul li a .action-arrow {
          display: inline-block;
          position: absolute;
          content: '⟶';
          font-size: 25px;
          right: -25px;
          bottom: -25px; }
      .off-page ul li.move-in {
        -webkit-animation: move-in 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        animation: move-in 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards; }
        .off-page ul li.move-in:nth-child(1) {
          -webkit-animation-delay: 250ms;
          animation-delay: 250ms; }
        .off-page ul li.move-in:nth-child(2) {
          -webkit-animation-delay: 300ms;
          animation-delay: 300ms; }
        .off-page ul li.move-in:nth-child(3) {
          -webkit-animation-delay: 350ms;
          animation-delay: 350ms; }
        .off-page ul li.move-in:nth-child(4) {
          -webkit-animation-delay: 400ms;
          animation-delay: 400ms; }
        .off-page ul li.move-in:nth-child(5) {
          -webkit-animation-delay: 450ms;
          animation-delay: 450ms; }
      @media (min-width: 320px) and (max-width: 480px) {
        .off-page ul li {
          width: 100%;
          margin-bottom: 20px; }
          .off-page ul li a {
            font-size: 40px; }
          .off-page ul li:nth-child(2n) a {
            left: 0; }
          .off-page ul li:nth-child(n + 3) {
            margin-bottom: 20px; }
          .off-page ul li:nth-child(4) {
            margin-bottom: 0; } }

.header {
  height: 300px;
  width: 100%;
  margin-bottom: 100px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .header {
      height: 180px;
      margin-bottom: 50px; }
      .header div.header-content {
        -webkit-box-shadow: inset 0 -110px 0 rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 -110px 0 rgba(0, 0, 0, 0.1); } }
  .header div {
    position: absolute;
    height: inherit;
    width: inherit; }
  .header .header-img {
    background-image: url(../img/hero-img.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.8; }
  .header .gradient-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(#0f40d9), to(cyan));
    background-image: -webkit-linear-gradient(left, #0f40d9, cyan);
    background-image: -o-linear-gradient(left, #0f40d9, cyan);
    background-image: linear-gradient(90deg, #0f40d9, cyan);
    opacity: 0.8;
    -webkit-box-shadow: inset 0 -200px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -200px 0 rgba(0, 0, 0, 0.1); }
  .header .header-content {
    max-width: 1200px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 100px;
    position: relative;
    margin: 0 auto;
    color: white; }
    .header .header-content .page-title, .header .header-content .site-welcome {
      font-size: 75.0006px;
      font-weight: 300;
      opacity: 0.3;
      margin-top: 0;
      letter-spacing: 1.5px; }
    .header .header-content .page-title {
      position: absolute;
      bottom: 0; }
      @media (min-width: 320px) and (max-width: 480px) {
        .header .header-content .page-title {
          width: 100%;
          font-size: 40px;
          margin-left: 0;
          text-align: center;
          margin-bottom: 40px; } }

.footer {
  background: #F8F8F8; }
  .footer .external-links {
    padding-top: 215px; }
    .footer .external-links a:hover .fil0, .footer .external-links a:focus .fil0 {
      fill: #727376; }
  .footer .e-mail {
    color: #A9ABAE;
    text-decoration: none;
    margin-left: 83px;
    font-size: 33.3338px;
    -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
    .footer .e-mail:hover, .footer .e-mail:focus {
      color: #727376; }
  .footer .social-media {
    margin-right: 83px;
    float: right; }
    .footer .social-media a {
      display: inline-block; }
      .footer .social-media a svg {
        pointer-events: none; }
      .footer .social-media a .fil0 {
        fill: #A9ABAE;
        fill-rule: nonzero;
        -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        -o-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1); }
    .footer .social-media .facebook {
      height: 39px;
      width: 20px;
      margin-right: 25px; }
    .footer .social-media .linkedin {
      height: 39px;
      width: 38px;
      margin-right: 25px; }
    .footer .social-media .behance {
      height: 30px;
      width: 48px; }
  .footer .copyright {
    margin: 0;
    margin-top: 50px;
    padding-bottom: 45px;
    margin-left: 83px;
    font-size: 16px;
    color: #BDBFC1; }
  @media (min-width: 320px) and (max-width: 480px) {
    .footer .external-links {
      padding-top: 50px; }
      .footer .external-links .e-mail, .footer .external-links .social-media {
        margin: 0 auto;
        display: block;
        text-align: center; }
      .footer .external-links .e-mail {
        font-size: 25px; }
      .footer .external-links .social-media {
        margin-top: 20px;
        width: auto;
        float: none;
        -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
        transform: scale(0.75);
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center; }
    .footer .copyright {
      font-size: 12px;
      display: block;
      width: 80vw;
      text-align: center;
      margin: 40px auto;
      margin-bottom: 0; } }

#mast-head {
  height: 100px;
  width: 100vw;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5vw;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #mast-head.on-nav .logo {
    color: black; }
  #mast-head.on-nav span.nav-toggle-inner {
    background: black; }
  #mast-head .logo {
    font-family: 'Slabo 13px';
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 40px;
    line-height: 50px;
    font-weight: lighter;
    color: white;
    display: inline-block;
    margin-top: 24px;
    z-index: 10000001;
    text-decoration: none;
    position: relative; }
    #mast-head .logo:focus {
      outline: 1px dotted white; }
  #mast-head .nav-toggle {
    height: 22px;
    width: 32px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    overflow: visible;
    display: inline-block;
    padding: 0;
    margin-top: 34px;
    position: relative;
    z-index: 10000001; }
    #mast-head .nav-toggle::before {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      content: ''; }
    #mast-head .nav-toggle.close-nav .nav-toggle-inner {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotateZ(225deg);
      -ms-transform: rotate(225deg);
      transform: rotateZ(225deg); }
      #mast-head .nav-toggle.close-nav .nav-toggle-inner::before {
        -webkit-transform: translateY(-4px) scaleX(0.2);
        -ms-transform: translateY(-4px) scaleX(0.2);
        transform: translateY(-4px) scaleX(0.2); }
      #mast-head .nav-toggle.close-nav .nav-toggle-inner::after {
        -webkit-transform: translateY(4px) scaleX(0.2);
        -ms-transform: translateY(4px) scaleX(0.2);
        transform: translateY(4px) scaleX(0.2); }
      #mast-head .nav-toggle.close-nav .nav-toggle-inner.nav-open {
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1); }
        #mast-head .nav-toggle.close-nav .nav-toggle-inner.nav-open::before, #mast-head .nav-toggle.close-nav .nav-toggle-inner.nav-open::after {
          -webkit-transition: -webkit-transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
          transition: -webkit-transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
          -o-transition: transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
          transition: transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
          transition: transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1); }
    #mast-head .nav-toggle.close-nav:hover .nav-toggle-inner.nav-open {
      -webkit-transform: scaleX(0.2);
      -ms-transform: scaleX(0.2);
      transform: scaleX(0.2);
      -webkit-transition: -webkit-transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: -webkit-transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1); }
      #mast-head .nav-toggle.close-nav:hover .nav-toggle-inner.nav-open::before {
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transform: translateY(8px) scaleX(0.2);
        -ms-transform: translateY(8px) scaleX(0.2);
        transform: translateY(8px) scaleX(0.2); }
      #mast-head .nav-toggle.close-nav:hover .nav-toggle-inner.nav-open::after {
        -webkit-transform: translateY(-8px) scaleX(0.2);
        -ms-transform: translateY(-8px) scaleX(0.2);
        transform: translateY(-8px) scaleX(0.2);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1); }
    #mast-head .nav-toggle.no-hover {
      pointer-events: none; }
    #mast-head .nav-toggle .nav-toggle-inner {
      display: block;
      height: 4px;
      width: 100%;
      position: relative;
      background: #0f40d9;
      -webkit-transition: -webkit-transform 0.4s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: -webkit-transform 0.4s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: transform 0.4s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.4s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.4s 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s 0.2s cubic-bezier(0.19, 1, 0.22, 1); }
      #mast-head .nav-toggle .nav-toggle-inner::before, #mast-head .nav-toggle .nav-toggle-inner::after {
        height: inherit;
        width: inherit;
        background: inherit;
        left: 0;
        content: '';
        position: absolute;
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1); }
      #mast-head .nav-toggle .nav-toggle-inner::before {
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        top: -8px; }
      #mast-head .nav-toggle .nav-toggle-inner::after {
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
        bottom: -8px; }
    #mast-head .nav-toggle:hover .nav-toggle-inner::before {
      -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px); }
    #mast-head .nav-toggle:hover .nav-toggle-inner::after {
      -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
      transform: translateY(4px); }
  @media (min-width: 320px) and (max-width: 480px) {
    #mast-head {
      padding: 6vw;
      height: 70px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #mast-head .logo {
        margin: 0;
        height: 40px;
        width: 40px;
        line-height: 43px;
        font-size: 25px; }
      #mast-head button.nav-toggle {
        margin-top: 0; }
        #mast-head button.nav-toggle:hover .nav-toggle-inner::before, #mast-head button.nav-toggle:hover .nav-toggle-inner::after {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none; }
        #mast-head button.nav-toggle.close-nav .nav-toggle-inner {
          -webkit-transform-origin: center;
          -ms-transform-origin: center;
          transform-origin: center;
          -webkit-transform: rotateZ(225deg) translateZ(0);
          transform: rotateZ(225deg) translateZ(0); }
          #mast-head button.nav-toggle.close-nav .nav-toggle-inner::before {
            -webkit-transform: translateY(-4px) scaleX(0.2);
            -ms-transform: translateY(-4px) scaleX(0.2);
            transform: translateY(-4px) scaleX(0.2); }
          #mast-head button.nav-toggle.close-nav .nav-toggle-inner::after {
            -webkit-transform: translateY(4px) scaleX(0.2);
            -ms-transform: translateY(4px) scaleX(0.2);
            transform: translateY(4px) scaleX(0.2); }
          #mast-head button.nav-toggle.close-nav .nav-toggle-inner.nav-open {
            -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
            transition: -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
            -o-transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s cubic-bezier(0.19, 1, 0.22, 1); }
            #mast-head button.nav-toggle.close-nav .nav-toggle-inner.nav-open::before, #mast-head button.nav-toggle.close-nav .nav-toggle-inner.nav-open::after {
              -webkit-transition: -webkit-transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
              transition: -webkit-transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
              -o-transition: transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
              transition: transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
              transition: transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.2s 0.2s cubic-bezier(0.19, 1, 0.22, 1); } }

.service-display-area {
  height: 1986px;
  overflow: hidden; }
  @media (min-width: 320px) and (max-width: 480px) {
    .service-display-area {
      height: auto;
      overflow: visible; } }

.service-display {
  position: relative;
  margin-top: 40px; }
  .service-display .service-module {
    height: 600px;
    width: 386px;
    background-color: white;
    -webkit-box-shadow: 0 30px 100px #bbb;
    box-shadow: 0 30px 100px #bbb;
    margin-bottom: 50px;
    position: relative; }
    .service-display .service-module:nth-child(4) {
      margin-top: -100px; }
    .service-display .service-module:nth-child(2n+2) {
      margin-left: 163px; }
    .service-display .service-module:nth-child(2n+1) {
      margin-left: auto;
      margin-right: 163px; }
    .service-display .service-module:nth-child(3) {
      top: -250px; }
    .service-display .service-module:nth-child(4) {
      top: -500px; }
    .service-display .service-module:nth-child(5) {
      top: -750px; }
    .service-display .service-module .service-cat {
      height: 400px;
      width: 386px;
      background-color: #999;
      position: relative;
      overflow: hidden;
      color: white; }
    .service-display .service-module .service-cat-img {
      height: 400px;
      width: 386px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute; }
    .service-display .service-module .service-cat-info {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-top: 80px;
      padding-left: 35px;
      position: relative; }
    .service-display .service-module .service-cat-name {
      font-size: 50px;
      margin: 0; }
    .service-display .service-module .service-cat-why {
      font-size: 16.6667px;
      color: #bbb;
      height: 142px;
      width: 332px;
      line-height: 120%;
      font-weight: 400; }
    .service-display .service-module .service-items {
      height: 200px;
      width: 386px;
      padding-top: 20px;
      position: relative; }
      .service-display .service-module .service-items .list-count {
        height: 80px;
        width: 1px;
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 35px;
        background-color: #97b9ff; }
        .service-display .service-module .service-items .list-count::before, .service-display .service-module .service-items .list-count::after {
          content: '';
          height: 9px;
          width: 9px;
          border: 1px solid #97b9ff;
          border-radius: 50%;
          position: absolute;
          background: white;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
        .service-display .service-module .service-items .list-count::before {
          top: 28px; }
        .service-display .service-module .service-items .list-count::after {
          top: 71px; }
      .service-display .service-module .service-items ul {
        list-style: none;
        color: #727376;
        font-size: 25px;
        line-height: 24px;
        padding: 0;
        margin: 0;
        margin-left: 65px;
        padding-top: 19px; }
        .service-display .service-module .service-items ul li:nth-child(2) {
          margin-top: 18px; }
    @media (min-width: 320px) and (max-width: 480px) {
      .service-display .service-module {
        width: 90vw;
        -webkit-box-shadow: 0 15px 50px #ccc;
        box-shadow: 0 15px 50px #ccc;
        position: static;
        margin: 0 auto !important;
        margin-bottom: 40px !important; }
        .service-display .service-module .service-cat {
          width: inherit; }
          .service-display .service-module .service-cat .service-cat-img {
            width: auto;
            height: 120%; }
          .service-display .service-module .service-cat .service-cat-info {
            padding-left: 5vw; }
            .service-display .service-module .service-cat .service-cat-info p {
              font-size: 16px;
              width: 80vw; }
        .service-display .service-module .service-items .list-count {
          left: 5.5vw; }
        .service-display .service-module .service-items ul {
          margin-left: 10vw;
          font-size: 22px; } }

.guide-line {
  height: 1500px;
  width: 1px;
  background-color: #97b9ff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media (min-width: 320px) and (max-width: 480px) {
    .guide-line {
      display: none; } }

#contact-form {
  margin-top: 60px;
  margin-bottom: 244px;
  position: relative; }
  #contact-form .input-group {
    width: 712px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative; }
    #contact-form .input-group:nth-child(4) {
      margin-bottom: 0; }
    #contact-form .input-group label, #contact-form .input-group input, #contact-form .input-group textarea {
      font-size: 25px;
      height: 22px;
      line-height: 22px;
      font-weight: 300 !important;
      padding: 0; }
    #contact-form .input-group label {
      position: absolute;
      top: 0;
      left: 1;
      color: #96989A;
      line-height: 22px;
      pointer-events: none;
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      -webkit-transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
    #contact-form .input-group input, #contact-form .input-group textarea {
      width: 100%;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      padding-bottom: 17px;
      color: #727376;
      border: none;
      border-bottom: 1px solid #D2D3D5; }
      #contact-form .input-group input:focus, #contact-form .input-group input.has-text, #contact-form .input-group textarea:focus, #contact-form .input-group textarea.has-text {
        outline: none; }
      #contact-form .input-group input:focus + label, #contact-form .input-group input.has-text + label, #contact-form .input-group textarea:focus + label, #contact-form .input-group textarea.has-text + label {
        -webkit-transform: translate3d(0, -20px, 0) scale(0.5);
        transform: translate3d(0, -20px, 0) scale(0.5);
        color: #0f40d9; }
      #contact-form .input-group input.has-text + label, #contact-form .input-group textarea.has-text + label {
        color: #727376; }
      #contact-form .input-group input.has-text:focus + label, #contact-form .input-group textarea.has-text:focus + label {
        color: #0f40d9; }
      #contact-form .input-group input:focus ~ .animated-border, #contact-form .input-group textarea:focus ~ .animated-border {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        -o-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
    #contact-form .input-group .animated-border {
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: -1px;
      background-color: #0f40d9;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      opacity: 0;
      -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
    #contact-form .input-group textarea {
      line-height: 33px;
      overflow-y: hidden;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    #contact-form .input-group .lead-name {
      text-transform: capitalize; }
  @media (min-width: 320px) and (max-width: 480px) {
    #contact-form {
      margin-top: 40px; }
      #contact-form .input-group {
        width: 90vw;
        margin-bottom: 25px; }
        #contact-form .input-group label, #contact-form .input-group textarea, #contact-form .input-group input {
          font-size: 16px;
          padding-bottom: 2px; }
          #contact-form .input-group label:focus ~ label, #contact-form .input-group label.has-text ~ label, #contact-form .input-group textarea:focus ~ label, #contact-form .input-group textarea.has-text ~ label, #contact-form .input-group input:focus ~ label, #contact-form .input-group input.has-text ~ label {
            -webkit-transform: translate3d(-1px, -20px, 0) scale(0.66);
            transform: translate3d(-1px, -20px, 0) scale(0.66); }
        #contact-form .input-group textarea {
          line-height: 120%;
          max-height: 300px !important; }
      #contact-form div.submit-btn {
        height: 36px;
        width: 30vw;
        margin-left: auto;
        margin-top: 30px;
        margin-right: 5vw; }
        #contact-form div.submit-btn label {
          line-height: 36px;
          font-size: 20px; } }
  #contact-form .submit-btn {
    margin-top: 55px;
    width: 140px;
    height: 43px;
    border: 1px solid #0f40d9;
    display: block;
    margin-left: auto;
    margin-right: 163px;
    position: relative;
    color: #0f40d9;
    text-align: center;
    overflow: hidden;
    cursor: pointer; }
    #contact-form .submit-btn:focus {
      -webkit-animation: clicked 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      animation: clicked 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
    #contact-form .submit-btn input {
      width: 144px;
      height: 47px;
      left: -2;
      top: -2;
      position: absolute;
      border: none;
      opacity: 0;
      padding: 0;
      pointer-events: none; }
    #contact-form .submit-btn label {
      line-height: 43px;
      font-size: 25px;
      cursor: pointer;
      font-weight: 300; }

#hidden-text-box {
  height: 0 !important;
  padding: 0 !important;
  border: none !important;
  pointer-events: none; }

.site-hero {
  overflow: hidden;
  height: 100vh; }
  .site-hero .gradient-overlay {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1); }
  .site-hero .header-content {
    height: 100%; }
  .site-hero .site-welcome {
    margin-top: 50px !important;
    height: auto;
    margin-bottom: 0;
    opacity: 1 !important;
    position: relative; }
  .site-hero span {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    line-height: 1em;
    position: absolute;
    left: 0;
    top: 0; }
    .site-hero span:nth-child(3) {
      margin-top: 30px; }
    .site-hero span:nth-child(6) {
      margin-top: 170px; }
  .site-hero br {
    font-size: 0; }
  .site-hero .site-intro {
    font-size: 16.6668px; }
  .site-hero .what-i-do {
    height: 55px;
    text-indent: -2px;
    line-height: 50px; }
  .site-hero .hero-container {
    height: 203px;
    width: 1060px;
    margin: 0; }
    .site-hero .hero-container::after, .site-hero .hero-container::before {
      height: 4px;
      width: 100%;
      background-color: white;
      content: '';
      left: 0;
      position: absolute;
      opacity: 0;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-animation: distinguish 1.2s 3000ms ease forwards;
      animation: distinguish 1.2s 3000ms ease forwards; }
    .site-hero .hero-container::after {
      bottom: -25px; }
    .site-hero .hero-container::before {
      top: -25px; }
  .site-hero .hero-text .unit {
    fill: #fff;
    fill-rule: nonzero;
    -webkit-transform: scaleY(2) rotateY(180deg);
    transform: scaleY(2) rotateY(180deg);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    position: relative;
    opacity: 0;
    -webkit-animation: drop-in 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    animation: drop-in 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards; }
    .site-hero .hero-text .unit:nth-child(1) {
      -webkit-animation-delay: 1800ms;
      animation-delay: 1800ms; }
    .site-hero .hero-text .unit:nth-child(2) {
      -webkit-animation-delay: 1900ms;
      animation-delay: 1900ms; }
    .site-hero .hero-text .unit:nth-child(3) {
      -webkit-animation-delay: 2000ms;
      animation-delay: 2000ms; }
    .site-hero .hero-text .unit:nth-child(4) {
      -webkit-animation-delay: 2100ms;
      animation-delay: 2100ms; }
    .site-hero .hero-text .unit:nth-child(5) {
      -webkit-animation-delay: 2200ms;
      animation-delay: 2200ms; }
    .site-hero .hero-text .unit:nth-child(6) {
      -webkit-animation-delay: 2300ms;
      animation-delay: 2300ms; }
    .site-hero .hero-text .unit:nth-child(7) {
      -webkit-animation-delay: 2400ms;
      animation-delay: 2400ms; }
    .site-hero .hero-text .unit:nth-child(8) {
      -webkit-animation-delay: 2500ms;
      animation-delay: 2500ms; }
    .site-hero .hero-text .unit:nth-child(9) {
      -webkit-animation-delay: 2600ms;
      animation-delay: 2600ms; }
    .site-hero .hero-text .unit:nth-child(10) {
      -webkit-animation-delay: 2700ms;
      animation-delay: 2700ms; }
    .site-hero .hero-text .unit:nth-child(11) {
      -webkit-animation-delay: 2800ms;
      animation-delay: 2800ms; }
